include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include whatsapp_orders *.css
recursive-include whatsapp_orders *.csv
recursive-include whatsapp_orders *.html
recursive-include whatsapp_orders *.ico
recursive-include whatsapp_orders *.js
recursive-include whatsapp_orders *.json
recursive-include whatsapp_orders *.md
recursive-include whatsapp_orders *.png
recursive-include whatsapp_orders *.py
recursive-include whatsapp_orders *.svg
recursive-include whatsapp_orders *.txt
recursive-exclude * __pycache__
recursive-exclude * *.pyc



